<div class="col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-xs-4 col-sm-4 nav-main">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation">
					<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-th-list"></i>
					</a>
				</li>
				<li role="presentation">
					<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
				</li>
				<li role="presentation" class="active">
					<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-film"></i>
					</a>
				</li>
				<li role="presentation">
					<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-cog"></i>
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active">
					<div class="row no-margin media-item">
						<div class="col-xs-4 col-sm-4 item-thumbnail">
							<img class="img-thumbnail" src="resources/img/noimage.png" alt="">
						</div>
						<div class="col-xs-8 col-sm-8 item-defail">
							<h6 class="text-left text-capitalize">kurome</h6>
							<h6 class="text-left text-capitalize">Size:123 kb</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
