<div class="col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-xs-4 col-sm-4 nav-main">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation">
					<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-th-list"></i>
					</a>
				</li>
				<li role="presentation">
					<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
				</li>
				<li role="presentation" class="active">
					<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-film"></i>
					</a>
				</li>
				<li role="presentation">
					<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-cog"></i>
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active">
					<div class="row no-margin media-item" ng-repeat="media in mediaData.data">
						<div class="col-xs-4 col-sm-4 item-thumbnail">
							<div style="background-image: url({{media.Media.media_thumbnail}})"></div>
						</div>
						<div class="col-xs-8 col-sm-8 item-defail">
							<h6 class="text-left text-capitalize title">{{media.Media.media_name}}</h6>

							<p class="text-left text-capitalize"><strong>Size:</strong> {{media.Media.media_size/1024 | number:2}}Kb</p>

							<p class="text-left text-capitalize"><strong>Dimension:</strong> {{media.Media.media_dimension}}</p>

							<p class="text-left text-capitalize"><strong>Created:</strong> {{media.Media.created}}</p>
						</div>
					</div>
					<div class="row no-margin media-item" ng-repeat="media in mediaData.data">
						<div class="col-xs-4 col-sm-4 item-thumbnail">
							<div style="background-image: url({{media.Media.media_thumbnail}})"></div>
						</div>
						<div class="col-xs-8 col-sm-8 item-defail">
							<h6 class="text-left text-capitalize title">{{media.Media.media_name}}</h6>

							<p class="text-left text-capitalize"><strong>Size:</strong> {{media.Media.media_size/1024 | number:2}}Kb</p>

							<p class="text-left text-capitalize"><strong>Dimension:</strong> {{media.Media.media_dimension}}</p>

							<p class="text-left text-capitalize"><strong>Created:</strong> {{media.Media.created}}</p>
						</div>
					</div>
					<div class="row no-margin media-item" ng-repeat="media in mediaData.data">
						<div class="col-xs-4 col-sm-4 item-thumbnail">
							<div style="background-image: url({{media.Media.media_thumbnail}})"></div>
						</div>
						<div class="col-xs-8 col-sm-8 item-defail">
							<h6 class="text-left text-capitalize title">{{media.Media.media_name}}</h6>

							<p class="text-left text-capitalize"><strong>Size:</strong> {{media.Media.media_size/1024 | number:2}}Kb</p>

							<p class="text-left text-capitalize"><strong>Dimension:</strong> {{media.Media.media_dimension}}</p>

							<p class="text-left text-capitalize"><strong>Created:</strong> {{media.Media.created}}</p>
						</div>
					</div>
					<div class="row no-margin media-item" ng-repeat="media in mediaData.data">
						<div class="col-xs-4 col-sm-4 item-thumbnail">
							<div style="background-image: url({{media.Media.media_thumbnail}})"></div>
						</div>
						<div class="col-xs-8 col-sm-8 item-defail">
							<h6 class="text-left text-capitalize title">{{media.Media.media_name}}</h6>

							<p class="text-left text-capitalize"><strong>Size:</strong> {{media.Media.media_size/1024 | number:2}}Kb</p>

							<p class="text-left text-capitalize"><strong>Dimension:</strong> {{media.Media.media_dimension}}</p>

							<p class="text-left text-capitalize"><strong>Created:</strong> {{media.Media.created}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 nav-search">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					  </span>
					<input type="text" class="form-control" placeholder="Search for..."/>
					  <span class="input-group-btn">
						<button class="btn btn-success" type="button">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					  </span>
				</div>
			</div>
		</div>

		<div class="col-xs-8 col-sm-8 main-content">
			<div class="row">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Media</a></li>
					<li class="active">Create</li>
				</ol>
			</div>

			<form action="" class="form-horizontal" ng-submit="submitNewMedia()">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Panel title</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label col-sm-3 col-xs-12" for="name">
								Media name <span class="required">*</span>
							</label>

							<div class="col-sm-8 col-xs-12">
								<input value="" ng-model='media.name' name="name" id="name" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3 col-xs-12" for="name">
								File <span class="required">*</span>
							</label>

							<div class="col-sm-8 col-xs-12">
								<input type="file" ng-model='media.file' name="file"/>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Upload</button>
							<button type="reset" class="btn btn-default">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
