.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.nav-main {
	min-height: 600px;
	border-right: solid 2px #ddd;
	padding: 0;
}

.nav-main .nav-tabs {
	border-bottom: 1px solid #eee;
}

.nav-main .nav-tabs li {
	display: block;
	width: 25%;
}

.nav-main .nav-tabs li.active {
	margin-bottom: 0;
}

.nav-main .nav-tabs li a {
	text-align: center;
	border-top: 5px solid #fff;
}

.nav-main .nav-tabs li a:hover {
	border-top-color: #eeeeee;
}

.nav-main .nav-tabs li.active a {
	border: none;
	border-top: 5px solid #1375cb;
	border-radius: 0;
}

.nav-main .nav-tabs li a i {
	font-size: 25px;
	color: #555;
}

.nav-main .nav-tabs li.active a i {
	color: #1375cb;
}

.tab-pane .media-item{
	padding: 7px 5px;
	height: 90px;
	border-bottom: solid 1px #eeeeee;
}

.media-item .item-thumbnail{
	padding-left: 5px;
	padding-right: 10px;
}

.media-item .item-defail{

}